################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/test/HelloCI.Tests/obj/Debug
/src/test/HelloCI.Tests/bin/Debug
/src/app/HelloCI.Core/obj/Debug
/src/app/HelloCI.Core/bin/Debug
/src/app/HelloCI.Web/obj/Debug
/src/app/HelloCI.Web/bin
/src/app/HelloCI.Web/HelloCI.Web.csproj.user
/.vs/config
/.vs/HelloCI/v14
/HelloCI.App/obj/Debug
/HelloCI.App/bin/Debug
/src/app/HelloCI.App/obj/Debug
/src/app/HelloCI.App/bin/Debug
/bin
/testbin
